body{ 
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    background-color: #E6E6FA;
}
.heart{
    position: relative;
    height: 160px;
    width: 100px;
    background-color: red;
    transform: rotate(45deg);
    border-radius: 200px 200px 0 0;

}
.heart::before{
    content: "";
    position: absolute;
    top: 30px;
    left: -30px;
    height: 160px;
    width: 100px;
    background-color: red; 
    transform: rotate(-90deg);
    border-radius: 200px 200px 0 0; 
}
.heart::after{
    content: "im sowwiw, babyyyy";
    text-shadow: 10px;
    position: absolute;
    top: 35%;
    left: -9%;
    font-size: 20px;
    text-align: center;
    color: white;
    transform: rotate(-45deg);
}